[Unit]
Description=Minecraft Server Starter - Custom Script
After=network.target

[Service]
WorkingDirectory=/opt/minecraft/SMP/starter

User=minecraft
Group=minecraft

Restart=always
ExecStart=/usr/bin/screen -DmS SMPStarter /usr/bin/node starter.js example.com 25565 CTLService.service 300000

[Install]
WantedBy=multi-user.target
